<div>
  <div class="container d-flex justify-content-center align-items-center mt-4">
    <div style="width: 50%">
      <form (ngSubmit)="login()" class="mb-4">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" [(ngModel)]="credentials.email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="credentials.password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
    </div>
  </div>
</div>
